doctype html
nav.navbar.navbar-dark
    ul.flex.flex-row.style-type-none.justify-center.items-center.height-100-percents
        li.nav-link
            a(href='/').color-white.decoration-none Accueil
        li.nav-link.selected
            a(href='/list').color-white.decoration-none liste des bièrres
        li.nav-link
            a(href='/boisson_mois').color-white.decoration-none La boisson du mois
        li.nav-link
            a(href='/contact').color-white.decoration-none Contact